.welcometext{
    color: black;
    font-size: 40px;
    text-align: center;
}
img{
    max-width: 1000px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.uploadButton{
    margin: 25px auto;
    width: calc(100% - 80px);
    height: 45px;
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center;
}